@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tauri&display=swap');

@layer base {
  body {
    @apply !bg-keppel;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dropdown-item {
  font-size: 16px;
}

.dropdown-item:hover {
  background-color: #6da288 !important;
}

.dropdown-menu {
  border-radius: 8px !important;
  border: none !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #477e63 !important;
}

.carousel {
  background-color: rgba(0, 0, 0, 0.369);
}

#collapsible-nav-dropdown {
  color: white;
}